@import '../../index.scss';

.container {
  position: relative;
  margin: 0 auto;
  width: 1280px;
  height: 721px;
  background: url('../../assets/pictures/player-container.jpg') no-repeat center ;
  background-size: cover;
}

.content {
  height: 100%;
  width: 100%;
}

.modal {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  padding: 20px 10px 10px;
  position: absolute;
  width: 251px;
  min-height: 357px;
  right: 0px;
  top:220px;
  background-color: $modal-bg-color;
}

.modal__text {
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  text-align: center;
  text-transform: uppercase;
  margin-bottom: 20px;
}

.modal__qrcode {
  margin: 0 auto 20px;

  img {
    display: block;
  }
}

.modal__description {
  margin: 0 0 20px 0;
  padding: 0 42px;
  text-align: center;
}
.modal__buttonWrapper {
  padding: 0 36px;
  display: flex;
  align-self: stretch;
}
.modal__button {
  composes: baseButton from '../../index.scss';
  flex-grow: 1;
  flex-basis: 100%;
}


.formModal {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: transparent;
}

.formModal_close {
  composes: baseButton from '../../index.scss';
  width: 88px;
  height: 52px;
  background-color: $white;
  position: absolute;
  right: 21px;
  top: 19px;

  &:hover {
    color: $white;
  }
}

.formModal_form {
  position: absolute;
  top: 0;
  left: 0;
  width: 380px;
  height: 100%;
  background-color: $modal-bg-color;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  padding: 72px 47px;
}

.formModal__header {
  font-style: normal;
  font-weight: normal;
  font-size: 26px;
  line-height: 30px;
  text-align: center;
  margin-bottom: 13px;
}

.formModal__input_wrapper {
  width: 226px;
  height: 38px;
  margin-bottom: 15px;
}

.formModal__phone_input {
  font-weight: bold;
  font-family: $main-font;
  font-size: 32px;
  line-height: 37px;
  display: flex;
  align-items: center;
  text-transform: uppercase;
  border: none;
  background-color: transparent;
  width: 100%;
  height: 100%;
    &::placeholder{
      font-weight: bold;
      font-family: $main-font;
      font-size: 32px;
      line-height: 37px;
    }
    &:focus{
      outline: none;
    }
}

.formModal__description {
  font-weight: normal;
  font-size: 14px;
  line-height: 16px;
  margin: 0 0 30px 0;
  text-align: center;
}

.formModal__keyboard_wrapper {
  margin-bottom: 37px;
}

.formModal__confirm_wrapper {
  padding-left: 11px;
  margin-bottom: 18px;
}

.formModal__confirm_checkbox {
  composes: visually-hidden from '../../index.scss';
}

.formModal__confirm_checkbox:checked + .formModal__confirm_label {
  &::before{
    background: url('./../../assets/pictures/check.svg') center no-repeat;
  }
}
.formModal__confirm_label {
  font-size: 14px;
  line-height: 16px;
  padding: 5px 60px;
  display: flex;
  align-items: center;
  color: $secondary-text-color;
  display: inline-block;
  position: relative;

  &::before {
    @include pseudo(40px, 40px);
    border: 2px solid $main-black;
    top: 0;
    left: 0;
  }
}

.formModal__button_submit {
  composes: baseButton from '../../index.scss';
 
}