$modal-bg-color: #86D3F4;
$main-black: #000000;
$white: #ffffff;
$border-color: #4E4E4E;
$secondary-text-color: #565656;
$main-font: 'Roboto', Arial, sans-serif;
$disabled-color: rgba( $secondary-text-color, .5 )
